html, body {
	padding:0;
	margin:0;
	width: 100%;
	height: 100%;
  overflow: hidden;
}

.frame {
	background:white;
	width:100%;
	height:100%;
  border-radius: 2px;
  border: 1px solid transparent;
}

.box {
	width:520px;
	height:325px;
	margin-top:30px;
	margin-left:50px;
  position: relative;
  float: left;
  font-size: 20px;
  color: #ddd;
  font-weight: bold;
}

.box:before, .box:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #555;
  -webkit-box-shadow: 0 15px 10px #555;
  -moz-box-shadow: 0 15px 10px #555;
  box-shadow: 0 15px 10px #555;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.box:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

body {
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10+,Safari5.1+ */
}

#info {
  width:100%;
  height:18px;
  line-height:18px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top:15px;
}

#reset {
  position: absolute;
  padding:3px 12px;
  top: 2px;
  right: 0px;
  color: #F08080;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
}
