body {
	width: 800px;
	height: 325px;
	overflow:hidden;
}

#toolbar1 {
	position: absolute; 
	display: block; 
	z-index: 2; 
	top: 246px; 
	left: 270px;
	visibility:hidden;
}

#toolbar2 {
	top: 246px; 
	left: 948px;
	visibility:hidden;
}